{% extend 'base.html' %}
{% block title %}
Главная
{% endblock %}
{% block content %}
<div class="page-wrapper">
    <div class="stream">
        <ul class="stream-items">
            {% for article in articles %}
            <li>
                <a href="/articles/{{article.id}}/">
                    <div class="item-header">
                        <div class="item-author">
                            <p>Автор: {{article.author}}</p>
                        </div>
                        <div class="item-time">
                            <p>Опубликованно: {{article.created_datetime}}</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="item-body">
                        <p>{{article.text}}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
-----
