<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="header-wrapper">
    <div class="header">
        <h2>Attractor Blog</h2>

    </div>
    <div class="button">
        <a href="#">Выйти</a>
    </div>
    <div class="button">
        <a href="#">Добавить запись</a>
    </div>
    <div class="button">
        <a href="#">Войти</a>
    </div>

    <div class="clearfix"></div>
</div>
<div class="page-wrapper">
    <div class="stream">
        <ul class="stream-items">
            <li>
                {% for article in articles %}
                <a href="/articles/{{article.id}}/">
                    <div class="item-header">
                        <div class="item-author">
                            <p>Автор: {{article.author}}</p>
                        </div>
                        <div class="item-time">
                            <p>Опубликованно: {{article.created_datetime}}</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="item-body">
                        <p>{{article.text}}</p>
                    </div>
                </a>
                {% end %}
            </li>

        </ul>
    </div>
</div>
<div class="footer">
    <center>© IT Atrractor Blog</center>
</div>
</body>
</html>