<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/css/style.css">
</head>
<body>
<div class="header-wrapper">
     <div class="header">
        <h2><a href="/" style="text-decoration: none">Attractor Blog</a></h2>

    </div>
    {% if user %}
    <div class="button">
        <a href="/logout/">Выйти</a>
    </div>
    <div class="button">
        <a href="/send_article/">Добавить запись</a>
    </div>
    {% else %}
    <div class="button">
        <a href="/login/">Войти</a>
    </div>
    {% end %}
    <div class="clearfix"></div>
</div>
<div class="page-wrapper">
    <div class="stream">
        <ul class="stream-items">
            <li>
                <div class="item-body text-center">
                    <p>
                    <p>Вы произвели авторизацию. <br/> Вернитесь на <a href="/">главную страницу сайта</a></p>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="footer">
    <center>© IT Atrractor Blog</center>
</div>

</body>
</html>